{% extends "base.html" %}

{% set title = 'Status' %}

{% block meta %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/status.css') }}">
<meta http-equiv="refresh" content="{{ config.get('STATUS_REFRESH_SECONDS') }}">
<style>
.centered {
    text-align: center;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to the Computer Science Learning Center</h1>
    <h2>Messages</h2>
    <ul id="messages" class="list-group">
        {% for message in messages %}
        <li class="list-group-item row">
            {{ markdown(message.message)|safe }}
        </li>
        {% endfor %}
    </ul>
    <h2>Course Availability</h2>
    <div class="table-responsive">
        <table id="course-availability" class="table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Course</th>
                    <th># Tickets</th>
                    <th># Tutors</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course }}</td>
                    <td class="centered">{{ course.current_tickets }}</td>
                    <td class="centered">{{ course.current_tutors }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Other</td>
                    <td class="centered">{{ other_tickets }}</td>
                    <td class="centered">-</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td class="centered">{{ total_tickets }}</td>
                    <td class="centered">{{ total_tutors }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
