{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul>
        <p><a class="btn btn-default" href="{{ url_for('semesters') }}">Semesters</a></p>
        <p><a class="btn btn-default" href="{{ url_for('professors') }}">Professors</a></p>
        <p><a class="btn btn-default" href="{{ url_for('courses') }}">Courses</a></p>
        <p><a class="btn btn-default" href="{{ url_for('sections') }}">Course Sections</a></p>
        <p><a class="btn btn-default" href="{{ url_for('tutors') }}">Tutors</a></p>
    </ul>
</div>
{% endblock %}
