{% extends "edit.html" %}

{% set title = 'Claim/Close Ticket' %}
{% set formurl = url_for('save_close_ticket') %}

{% block form %}
<script src="{{ url_for('static', filename='js/course_picker.js') }}"></script>

<div class="formgroup">
    <label for="name">Name</label>
    <p id="name">{{ ticket.student_fullname }}</p>
    <label for="email">Email</label>
</div>

{{ select('course_id', courses, title='Course') }}

<div class="formgroup">
    <label for="section_id">Section</label>
    <select id="section_id" name="section_id" class="form-control" required>
        <option value="">-</option>
        {% for course in courses %}
        <optgroup parent="{{ course.id }}" label="{{ course }}">
            {% for section in course.sections %}
            <option value="{{ section.id }}">
                {{ section }}
            </option>
            {% endfor %}
        <optgroup>
        {% endfor %}
    </select>
</div>

{{ input('assignment', title='Assignment Description', minlength='10') }}
{{ textarea('question', title='Specific Question', minlength='30') }}
{{ select('problem_type_id', problems, title='Problem Type') }}

{% endblock %}
