{% extends "base.html" %}

{% set title = 'Tutors' %}

{% block content %}
<div class="container">
    <h1>{{ header }}</h1>
    <ul class="list-group">
        <a type="button" class="list-group-item" href="{{ url_for('edit_tutors') }}">+ New</a>
        {% for item in items %}
        <li class="list-group-item">
            <span class="name">{{ item }}</span>
            <a type="button" class="badge" href="{{ url_for('edit_tutors', email=item.email) }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
