{% extends "base.html" %}

{% set title = 'Tickets' %}

{% block content %}
<div class="container">
    <h1>Tickets</h1>

    <h2>Open</h2>
    <ul class="list-group">
        {% for item in open %}
        <li class="list-group-item">
            <span class="name">{{ item.student_fullname }}</span> |
            <span class="course">{{ item.section.course }}</span> |
            <span class="assignment">{{ item.assignment }}</span> |
            <span class="question">{{ item.question }}</span>
            <a type="button" class="badge" href="{{ url_for('close_ticket', id=item.id) }}">Claim</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Claimed</h2>
    <ul class="list-group">
        {% for item in claimed %}
        <li class="list-group-item">
            <span class="name">{{ item.student_fullname }}</span> |
            <span class="course">{{ item.section.course }}</span> |
            <span class="assignment">{{ item.assignment }}</span> |
            <span class="question">{{ item.question }}</span>
            <a type="button" class="badge" href="{{ url_for('close_ticket', id=item.id) }}">Close</a>
        </li>
        {% endfor %}
    </ul>

    <h2>Closed</h2>
    <ul class="list-group">
        {% for item in claimed %}
        <li class="list-group-item">
            <span class="name">{{ item.student_fullname }}</span> |
            <span class="course">{{ item.section.course }}</span> |
            <span class="assignment">{{ item.assignment }}</span> |
            <span class="question">{{ item.question }}</span>
            <a type="button" class="badge" href="{{ url_for('reopen_ticket', id=item.id) }}">Reopen</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
