{% extends "edit.html" %}

{% set title = 'Open Ticket' %}
{% set formurl = url_for('save_open_ticket') %}

{% block form %}
<script>
function get_sections(){
    let course = $('#course_id').val();
    $('#section_id optgroup[parent]').hide();
    console.log('#section_id optgroup[parent="{0}"]'.format(course));
    $('#section_id optgroup[parent="{0}"]'.format(course)).show();
    $('#section_id').val('');
}

$(function(){
    $('#course_id').change(get_sections);
    get_sections();
});
</script>

{{ input('student_email', title='Email', type='email') }}
{{ input('student_fname', title='First Name') }}
{{ input('student_lname', title='Last Name') }}

{{ select('course_id', courses, title='Course') }}

<div class="formgroup">
    <label for="section_id">Section</label>
    <select id="section_id" name="section_id" class="form-control" required>
        <option value="">-</option>
        {% for course in courses %}
        <optgroup parent="{{ course.id }}">
            {% for section in course.sections %}
            <option value="{{ section.id }}">
                {{ section }}
            </option>
            {% endfor %}
        <optgroup>
        {% endfor %}
    </select>
</div>

{{ input('assignment', title='Assignment Description', minlength='10') }}
{{ textarea('question', title='Specific Question', minlength='30') }}
{{ select('problem_type_id', problems, title='Problem Type') }}

{% endblock %}
