{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Semesters</h1>
    <ul class="list-group">
        <a type="button" class="list-group-item" href="{{ url_for('edit_semester') }}">+ New Semester</a>
        {% for semester in semesters %}
        <li class="list-group-item">
            <span class="name">{{ semester }}</span>
            <a type="button" class="badge" href="{{ url_for('edit_semester', id=semester.id) }}">Edit Semester</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
